<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">Just Tech News</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<article class="post" th:fragment="post-fragment">
    <div class="title">
        <a th:href="@{ ${post.postUrl} }" target="_blank">[[${post.title}]]</a>
        <div th:if="${#strings.contains(post.postUrl, 'http://')}">
<!--            strings.replace function is a URL format helper which allows us to replace http:// in the postUrl with an empty space-->
            <div th:with="arg=${#strings.replace(post.postUrl,'http://','')}">
                <div th:if="${#strings.contains(arg, '/')}">
                    <div th:with="arg2=${#strings.arraySplit(arg, '/')}">
                        <span th:text="${#strings.toString(arg2[0])}"></span>
                    </div>
                </div>
                <div th:unless="${#strings.contains(arg, '/')}">
                    <div th:if="${#strings.contains(arg, '?')}">
                        <div th:with="arg2=${#strings.arraySplit(arg, '?')}">
                            <span th:text="${#strings.toString(arg2[0])}"></span>
                        </div>
                    </div>
                    <div th:unless="${#strings.contains(arg, '?')}">
                        <span th:text="${#strings.toString(arg)}"></span>
                    </div>
                </div>
            </div>
        </div>
        <div th:if="${#strings.contains(post.postUrl, 'https://')}">
<!--            in this section we use the plural words helper with the th:if and th:unless construct to determine whether to use the word "comment" or "comments"-->
            <div th:with="arg=${#strings.replace(post.postUrl,'https://','')}">
                <div th:if="${#strings.contains(arg, '/')}">
                    <div th:with="arg2=${#strings.arraySplit(arg, '/')}">
                        <span th:text="${#strings.toString(arg2[0])}"></span>
                    </div>
                </div>
                <div th:unless="${#strings.contains(arg, '/')}">
                    <div th:if="${#strings.contains(arg, '?')}">
                        <div th:with="arg2=${#strings.arraySplit(arg, '?')}">
                            <span th:text="${#strings.toString(arg2[0])}"></span>
                        </div>
                    </div>
                    <div th:unless="${#strings.contains(arg, '?')}">
                        <span th:text="${#strings.toString(arg)}"></span>
                    </div>
                </div>
            </div>
        </div>
        <div th:if="${#strings.contains(post.postUrl, 'www.')}">
            <div th:with="arg=${#strings.replace(post.postUrl,'www.','')}">
                <div th:if="${#strings.contains(arg, '/')}">
                    <div th:with="arg2=${#strings.arraySplit(arg, '/')}">
                        <span th:text="${#strings.toString(arg2[0])}"></span>
                    </div>
                </div>
                <div th:unless="${#strings.contains(arg, '/')}">
                    <div th:if="${#strings.contains(arg, '?')}">
                        <div th:with="arg2=${#strings.arraySplit(arg, '?')}">
                            <span th:text="${#strings.toString(arg2[0])}"></span>
                        </div>
                    </div>
                    <div th:unless="${#strings.contains(arg, '?')}">
                        <span th:text="${#strings.toString(arg)}"></span>
                    </div>
                </div>
            </div>
        </div>
        <div th:if="${post.voteCount == 1}" class="meta">
            [[${post.voteCount}]] point by [[${post.userName}]] on
<!--            date format helper is a function that helps us to format dates&#45;&#45;arguments specify object.property and the format we'd like-->
            <span th:text="${#dates.format(post.postedAt, 'MM-dd-YY')}"></span>
            <a th:href="@{/post/{id}(id=${post.id})}" th:if="${post.comments.size() == 1}">[[${post.comments.size()}]]
                comment</a>
            <a th:href="@{/post/{id}(id=${post.id})}" th:unless="${post.comments.size() == 1}">[[${post.comments.size()}]]
                comments</a>
        </div>
        <div th:unless="${post.voteCount == 1}" class="meta">
            [[${post.voteCount}]] points by [[${post.userName}]] on
            <span th:text="${#dates.format(post.postedAt, 'MM-dd-YY')}"></span>
            |
            <a th:href="@{/post/{id}(id=${post.id})}" th:if="${post.comments.size() == 1}">[[${post.comments.size()}]]
                comment</a>
            <a th:href="@{/post/{id}(id=${post.id})}" th:unless="${post.comments.size() == 1}">[[${post.comments.size()}]]
                comments</a>
        </div>
    </div>
</article>
</body>